/**
 * @file        02-components.css
 * @description UI 组件 (Components) 样式。
 * @summary
 *   定义了内容区域中常见 UI 元素的样式，如外部链接等。
     可能要遗弃，设置的有问题
 */

/* ==========================================================================
   1. 外部链接
   ========================================================================== */

/* 为所有外部链接添加平滑的颜色过渡效果 */
.md-content a[href^="http"] {
    transition: color 0.2s ease-in-out;
  }

figcaption {
    text-align: center;
    font-style: italic; /* 斜体 */    
    font-size: 0.7em;   /* 字体大小为默认的 70% */
  }